*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
/* a {
	text-decoration: none;
} */
h1,
h2,
h3 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
/* ----- */

.form {
	max-width: 665px;
	max-height: 481px;
	margin: 0 auto;
	color: #111111;
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: fixed;
	top: calc(50% - 332px);
	left: calc(50% - 240px)	 */
}
.form h1 {
	font-size: 22px;
	margin-top: 43px;
  letter-spacing: 0.03em;
}
.form h2 {
	font-size: 14px;
	font-family: 'Work Sans', sans-serif;
	letter-spacing: 0.003em;
	padding-bottom: 23px;
}
.form__left {
	width: 138px;
	height: 481px;
	background-color: #5A61ED;
	position: relative;
}
.form__left h3{
	transform: rotate(-90deg);
	position: absolute;
  top: 354px;
  font-size: 49px;
  width: max-content;
  left: 21px;
	letter-spacing: 0.01em;
	font-family: 'PT Sans', sans-serif;
	color: white;
}
.form__body {
	width: 528px;
  height: 481px;
  background: white;
	padding-left: 20px;
	position: relative;
}
.form__body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-color: #5A61ED;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}
.form__item {
	display: flex;
	margin-bottom: 18px;
}
.form__label {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	/* letter-spacing: 0.05em; */
}
.form__display {
	display: grid;
	padding-right: 10px;
	/* content: "";
	border-bottom: 1px solid black;
	outline: none; */
}
.form__input, .select {
	width: 237px;
	height: 27px;
	font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 0.05em;
	content: "";
  border-bottom: 1px solid #F2F2F2;
  outline: none;
	text-overflow: ellipsis;
}
.form__input::after {
	content: "";
	border-bottom: 1px solid black;
	outline: none;
}
.form__input._error {
	color:red;
	border-bottom: 1px solid red;
}
.form__radioGender {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.options__input {
	display: none;
}
.options__item-p {
	padding-left: 25px;
}
.options__item {
	display: flex;
  justify-content: center;
  align-items: center;
}
.options__input:checked + .options__label::after {
	transform: scale(1);
}
.options__label {
	padding-left: 4px;
	display: inline-flex;
	position: relative;
}
.options__label::before {
	content: '';
	flex: 0 0 12px;
	height: 12px;
	background-color: white;
	border-radius: 50%;
	border: 1px solid #5A61ED;
	align-self: flex-start;
	margin: 0 6px 0 0;
}
.options__label::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 7px;
	width: 6px;
	height: 6px;
	background-color: #5A61ED;
	border-radius: 50%;
	transform: scale(0);
	transition:  0.3s ease 0s;
}
.footer {
	margin-top: 97px;
  display: flex;
  justify-content: space-between;
	align-items: center;
}
.footer span {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.02em;
}
.footer span a {
	font-weight: bold;
}
.footer button {
	width: 154px;
	height: 32px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 23px;
	cursor: pointer;
	background-color: #5A61ED;
	color: white;
}
